/.git
/.idea
/.quasar
/.run
_logs
**/_misc
/_server-script
_sql
**/_tmp
/build
/coverage
/deploy
/doc
/i18n
**/dist
/pub
/redis
/systemd-service
/node_modules
/ignor.*
/ignore.*
/dist

.eslintrc.js
*.min.js
