doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/pub/css/style.css')
    title= title
  body
    .views-outer-container
      .views-auth-container
        p
          img(src="/pub/img/sad.svg", style="width: 100px;")
        p(style="color: #777") Sorry, nothing here...(404)
        a(href="/") Go back
